<div class="background">
  <h1><b>Links</b></h1>
  <div class="names">
  <h2 style="margin-left: 418px;">1337x</h2>
  <h2 style="margin-right: 418px;">Anidex</h2>
</div>
  <div class="image_container">
    <a href="https://anidex.info/group/315">
      <img src="src/assets/anidex.png" alt="anidex" style="margin-left: 600px;">
    </a>
    <a href="https://1337x.to/user/Sour456/">
      <img src="src/assets/1337xIcon.png" alt="1337x" style="margin-left: 150px; height: 274px; width: 274px; margin-top: 16px;">
    </a>
  </div>
</div>