<nav class="sticky">
    <div class="header w3-border-bottom w3-border-black" id="myHeader">
        <div class="logo">
            <img routerLink="home" src="/assets/sourlogo.png" alt="Sour Logo">
        </div>
        <div id="bar" class="w3-bar" style="margin-right: 200px; margin-top: 10px">
            <div class="button">
                <i id="search" onClick="
              if (input.className.indexOf('w3-show') == -1) {
                input.className += ' w3-show';
                bar.style.marginRight = '40px';
               } else {
                 input.className = input.className.replace(' w3-show', '');
                 bar.style.marginRight = '200px';
               }
            " class="fas fa-search w3-bar-item w3-hover-text-white w3-large w3-padding-small w3-right"></i>
                <input id="input" class="w3-bar-item w3-input w3-round-xlarge w3-hide w3-padding-small w3-right" type="text" placeholder="Search..."
                    style="height: 30px; width: 150px; margin-left: 10px">
                <i class="fab fa-discord w3-bar-item w3-hover-text-white w3-large w3-border-right w3-border-black w3-padding-small w3-right">
                    Discord</i>
                <i class="fas fa-calendar-alt w3-bar-item w3-hover-text-white w3-large w3-padding-small w3-right"> Schedule</i>
                <i class="fas fa-cloud-download-alt w3-bar-item w3-hover-text-white w3-large w3-padding-small w3-right"> Links</i>
            </div>
        </div>
        <script>
            // When the user scrolls the page, execute myFunction 
            window.onscroll = function () { myFunction() };
            // Get the header
            var header = document.getElementById("myHeader");
            // Get the offset position of the navbar
            var sticky = header.offsetTop;
            // Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
            function myFunction() {
                if (window.pageYOffset > sticky) {
                    header.classList.add("sticky");
                } else {
                    header.classList.remove("sticky");
                }
            }
        </script>
    </div>
</nav>