.header {
  display: flex;
  justify-content: space-between;
  
  background-color: rgba(39, 139, 244, 0);
  font-size: 1.1rem;
  padding: 20px;
}

.logo {
  padding: .5rem;
  margin-left: 150px;
  cursor: pointer;
}

.links {
  height: 100%;
}

button {
  background: rgba(0, 0, 0, 0);
  border: none;
  color: white;
  height: 100%;
  padding: 1.125em;
  position: relative;
  transition-duration: 0.3s;
  
  &:hover{
    background-color: white;
    cursor: pointer;
  }
}

.content {
  padding: 0px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}