
<div class="container">
  <div class="logo">
    <img routerLink="home" src="/assets/sourlogo.png" alt="Sour Logo">    
  </div>
  <div class="w3-padding">
    <div class="w3-right">
      <div class="btns">
        <i class="fas fa-cloud-download-alt w3-hover-text-blue w3-large" style="margin-right: 20px">Links</i>
        <i class="fas fa-calendar-alt w3-hover-text-blue w3-large" style="margin-right: 20px">Schedule</i>
        <i class="fab fa-discord w3-hover-text-blue w3-large" style="margin-right: 350px">Discord</i>
      </div>
    </div>
  </div>

  <style>
    
  </style>
  
    