<div class="image">
  <h1><b>Weekly Schedule</b></h1>
  <div style="margin-left: 42%; margin-right: 42%">
      <iframe src="http://free.timeanddate.com/clock/i6i5faa2/fs36/fcfff/tc000/pct/ftb/th2/ta1" frameborder="0" width="295" height="44" allowTransparency="true"></iframe>

</div>
  <table class="center w3-black w3-xlarge">
    <tr>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>Sunday</th>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td> RWBY <br> <b>9:30 UTC</b></td>
      <td></td>
    </tr>
  </table>
</div>