* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
  }

.image{
    height:80em; 
    background-size:cover;
    width:auto; 
    background-image:url('https://sour456.com/photos/HLPF-Ikaros-1.png');
    background-position:50% 50%;
    
    

  }
th, td {
    border: 2px solid white;
    text-align: center;
    

    
}


table.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 140px;
    
  }
  h1 {
      text-align: center;
      font-size: 60px;
      color: black;
      border: 5px;
      padding: 12%
  }